
.page-id-1809 #simple-contact-form-wrap {
  padding: 0 5em;
  margin-left: 25%;
}

.page-id-1809 .dividers {
  margin: 2em calc(auto - 1.5em);
  width: 80%;
  height: 1.5em;
  background: #d7ff36;
  box-shadow: 1.5em 0.5em 0 0 #1b1b1b;
}

.page-id-1809 section {
  display: grid;
  grid-template-columns: [c1] 25% [c2] 75% [c3];
  grid-template-rows: [r1] auto [r2];
  margin: 0;
}

.page-id-1809 .driver {
  grid-column-start: c1;
  grid-column-end: c2;
  grid-row-start: r1;
  grid-row-end: r2;
  border-bottom: solid 2px #1b1b1b;
  padding: 1.5em;
  margin-right: 10vw;
  display: flex;
  align-items: center;
  justify-content: center;
  writing-mode: vertical-lr;
  font-weight: bold;
}

.page-id-1809 .driver>h2 {
  text-transform: uppercase;
  font-size: xx-large;
  letter-spacing: 3px;
  text-align: center;
  -webkit-text-fill-color: #f7f7f7;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #1b1b1b;
  transform-origin: center;
  transform: rotate(180deg);
}

.page-id-1809 .c_content {
  grid-column-start: c2;
  grid-column-end: c3;
  grid-row-start: r1;
  grid-row-end: r2;
  border-bottom: solid 2px #1b1b1b;
  padding: 5em;
  justify-content: center;
  text-align: justify;
}

.page-id-1809 #sec-3 .driver {
  border-bottom: none;
}

.page-id-1809 #sec-3 .c_content {
  border-bottom: none;
}

.page-id-1809 .c_content>h3 {
  font-weight: 900 !important;
  font-size: 25px;
  box-shadow: inset 0 -0.8em 0 0 #d7ff36;
}

.page-id-1809 .c_content>blockquote {
  padding-left: 1em;
  border-left: solid 3px #d7ff36;
  margin: 1.5em 0 0 1em;
  font-size: medium;
}

.page-id-1809 .c_content>p {
  font-size: medium;
}

.page-id-1809 .c_content>p>a {
  text-decoration: none;
  color: #1b1b1b;
  padding: 0 0.3em;
  background: #d7ff36;
  box-shadow: inset 0 1.4em 0 0 #f7f7f7;
  transition: linear 0.5s;
}

.page-id-1809 .c_content>p>a:hover {
  box-shadow: inset 0 0 0 0 #f7f7f7;
}

.page-id-1809 .c_content>#form-title {
  margin-top: 2em;
  margin-bottom: -4em;
}

.page-id-1809 #sec-3>.c_content>.deck {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: space-between;
  margin-top: 2em;
  flex-flow: row wrap;
}

.page-id-1809 #sec-3>.c_content>.deck>.card {
  position: relative;
  flex: 1;
  margin: 0 1em;
  height: 200px;
}

.page-id-1809 #sec-3>.c_content>.deck>.card .icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: linear 0.4s;
  z-index: 1;
  background: #d7ff36 !important;
}

.page-id-1809 #sec-3>.c_content>.deck>.card .icon>.fab {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 40px;
  transition: linear 0.7s;
  color: #1b1b1b;
}

.page-id-1809 #sec-3>.c_content>.deck>.card .icon>i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 50px;
  transition: linear 0.7s;
  color: #1b1b1b;
}

.page-id-1809 #sec-3>.c_content>.deck>.card .social {
  width: 100%;
  height: 50%;
  transition: linear 0.5s;
}

.page-id-1809 #sec-3>.c_content>.deck>.card .social-1 {
  position: relative;
  background: #f7f7f7;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  transform: translateY(50%);
}

.page-id-1809 #sec-3>.c_content>.deck>.card:hover .social-1 {
  transform: translateY(0%);
  background: #f7f7f7;
}

.page-id-1809 #sec-3>.c_content>.deck>.card .social-1 .packing {
  opacity: 1;
  transition: linear 0.5s;
}

.page-id-1809 #sec-3>.c_content>.deck>.card:hover .social-1 .packing {
  opacity: 1;
}

.page-id-1809 #sec-3>.c_content>.deck>.card:hover .social-1 .packing i {
  max-width: 30%;
}

.page-id-1809 #sec-3>.c_content>.deck>.card .social-2 {
  position: relative;
  background: #f7f7f7;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.5em;
  box-sizing: border-box;
  border: solid 1px #1b1b1b;
  border-top: none;
  transform: translateY(-50%);
}

.page-id-1809 #sec-3>.c_content>.deck>.card:hover .social-2 {
  transform: translateY(0%);
}

.page-id-1809 #sec-3>.c_content>.deck>.card .social-2 .packing p {
  margin: 0;
  padding: 0;
  text-align: center;
  color: #1b1b1b;
  font-size: medium;
}

.page-id-1809 #sec-3>.c_content>.deck>.card .social-2 .packing h3 {
  margin: 0 0 0.5em 0 !important;
  padding: 0;
  text-align: center;
  color: #1b1b1b;
  font-size: x-large;
}

.page-id-1809 #sec-3>.c_content>.deck>.card .social-2 .packing h3>a {
  text-decoration: none;
  color: #d7ff36;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #1b1b1b;
  transition: linear 0.5s;
}

.page-id-1809 #sec-3>.c_content>.deck>.card .social-2 .packing h3>a:hover {
  color: #1b1b1b;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #d7ff36;
}

@media only screen and (max-width: 800px) {
    .page-id-1809 section {
    display: block;
  }

  .page-id-1809 .c_content {
    padding: 5em 0;
  }

  .page-id-1809 .driver {
    display: none;
  }

  .page-id-1809 #simple-contact-form-wrap {
    margin-left: 0;
    padding: 0;
  }
}
