.home #breadcrumbs {
  display: none;
}

.home .grid-parent {
  width: fit-content;
}

.home .featured-image {
  max-width: 50%;
  text-align: center;
  margin-bottom: 5em !important;
  margin-top: 25vh;
}

.home .featured-image>img {
  filter: grayscale(0%) !important;
}

@media only screen and (max-width: 560px) {
.home  .featured-image {
    max-width: 90vw;
  }
}

.home .site {
  margin-top: 0vh !important;
}

.home .vp-portfolio__item {
  filter: grayscale(100%);
  transition: 1.5s;
}

.home .vp-portfolio__item:hover {
  filter: grayscale(0%);
}

.home .simplebar-content {
  height: 100%;
}

.home .vp-portfolio__item-meta-category span {
  padding: 0 0.5em;
  background: #d7ff36 !important;
  color: #1b1b1b !important;
}

.home h2.vp-portfolio__item-meta-title {
  font-size: 16pt !important;
  padding: 0 0.5em;
  background: #d7ff36 !important;
  color: #1b1b1b !important;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.home @media only screen and (max-width: 859px) {
  h2.vp-portfolio__item-meta-title {
    -webkit-line-clamp: 1;
  }
}

.home .what_we_do {
  background: #d7ff36;
  padding: 4em 0em;
}

.home .what_we_do>blockquote {
  margin: 0 15vw;
  color: #1b1b1b;
  padding-left: 1em;
  border-left: 0.3em double #1b1b1b;
}
